
body {
  font-family: "Arial", sans-serif;
  background-color: #f8f8f8;
  color: #333;
  margin: 0;
  padding: 0;
  padding-top: 0px;
}

.about {
  width: 80%;
  background: rgba(
    0,
    0,
    0,
    0.5
  ); 
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 10px;
  padding: 20px 40px; 
  margin-left: 270px;
}

h1 {
  color: #fff;
  padding: 20px 0; 
}

h2 {
  color: #fff;
  padding: 10px 0; 
}

h3 {
  color: #fff;
  padding: 8px 0; 
}

p {
  line-height: 1.6;
  color: #f8f8f8;
}


